{% extends 'userpanel/userbase.html' %}
{% block title %}Store{% endblock title %}
{% block body %}

<style>
    .single_product_item .cont {
        text-align: right;
        padding-right: 45px;
    }

    .section_padding {
        padding-top: 30px;
    }

    .breadcrumb_part {
        height: 100px;
    }

    .breadcrumb_iner h3 {
        font-size: 35px;
        line-height: 1.2;
        color: #fff;
        font-weight: 500;
    }
</style>

<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h3>Store</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product list part start-->
<section class="product_list section_padding">
    <div class="container">
        <div class="col-md-6">
            <div class="row product_sidebar">
                <div class="single_sedebar col-md-6">
                    <div class="select_option">
                        <div class="select_option_list">Category <i class="right fas fa-caret-down"></i> </div>
                        <div class="select_option_dropdown">
                            {% for category in links %}
                            <p><a href="{{category.get_url}}">{{category.cat_name}}</a></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="single_sedebar col-md-6">
                    <div class="select_option">
                        <div class="select_option_list">Type <i class="right fas fa-caret-down"></i> </div>
                        <div class="select_option_dropdown">
                            <p><a href="#">Type 1</a></p>
                            <p><a href="#">Type 2</a></p>
                            <p><a href="#">Type 3</a></p>
                            <p><a href="#">Type 4</a></p>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <h3>{{product_count}} items found</h3>

            <div class="product_list">
                <div class="row">
                    {% for p in products %}
                    <div class="col-lg-3 col-sm-6">
                        <a href="{{ p.get_url }}">
                            <div class="single_product_item">
                                {% if p.image %}
                                <img src="{{p.image.url}}" alt="{{p.product_name}}" class="img-fluid">
                                {% endif %}
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-6">
                                        <h3> <a href="single-product.html">{{p.product_name}}</a> </h3>
                                        <p>{{p.price}}</p>
                                    </div>
                                    <div class="cont col-lg-6 col-sm-6 col-6">
                                        <h3><a href="{% url 'add_wishlist' p.id %}">
                                                <i class="fa-regular fa-heart"></i></a></h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <!-- <div class="load_more_btn text-center">
                            <a href="#" class="btn_3">Load More</a>
                        </div> -->
            </div>
        </div>

    </div>
</section>
<!-- product list part end-->



{% endblock body %}