{% extends 'userpanel/userbase.html' %}
{% block title %}Checkout{% endblock title %}
{% block body %}

<style>
  .billing_details form {
    padding-top: 20px
  }
  .cap {
    background-color: #795376;
    color: white;
  }  
  a {
    color: black;
    text-decoration: none;
  }

  .section_padding {
    padding-top: 30px;
  }

  .breadcrumb_part {
    height: 100px;
  }

  .breadcrumb_iner h3 {
    font-size: 35px;
    line-height: 1.2;
    color: #fff;
    font-weight: 500;
  }
</style>


<!-- breadcrumb part start-->
<section class="breadcrumb_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <h3>Checkout</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb part end -->


<!--================Checkout Area =================-->

<section class="checkout_area section_padding">
  <div class="container">

    <!-- ------------------------------------------------------- coupan-area---------------------------------------------------------------- -->

    <div class="cupon_area">
      <div class="check_title">
        <h2>
          COUPON
          <!-- <a href="#">Click here to enter your code</a> -->
        </h2>
      </div>   

      <form method="post">

        {% csrf_token %}
        <div class="col-md-3 mt-3">
          {% include 'message.html' %}
        </div>
        {% if cart.coupon %}
        <br>
        <a class="tp_btn" href="{% url 'remove_coupan' %}">Applied coupon (tap to remove)</a>

        <a href="{% url 'remove_coupan' %}" class="btn btn-success">{{cart.coupon.discount_price}} off is applied on product</a>
        {% else %}
        
        <input type="text" name="coupon" placeholder="Enter coupon code" />
        <button type="submit" class="tp_btn" href="#">Apply Coupon</button>
        <button type="button" class="tp_btn" data-toggle="modal" data-target="#coupon-{{forloop.counter}}">View Coupon</button>
   
        {% endif %}
      </form>
      


<!--Modal: modalConfirmDelete-->
<div
class="modal fade"
id="coupon-{{forloop.counter}}"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
  <!--Content-->
  <div class="modal-content text-center">
      <!--Header-->
      {% for c in coupon %}
      <div class="modal-header d-flex justify-content-center">
          <p class="heading text-dark">
              "{{c.coupan_code}}" has {{c.discount_price}} discount on  minimum amount of {{c.minimum_amount}}
          </p>
      </div>
      {% endfor %}
      <!--Body-->
    
  </div>
  <!--/.Content-->
</div>
</div>
<!--Modal: modalConfirmDelete-->

    </div>
    
    <!-- ------------------------------------------------------- billing-area---------------------------------------------------------------- -->


    <div class="billing_details">
      <div class="row">
        <div class="col-lg-6">  

  <!-- ------------------------------------------------------- address-area---------------------------------------------------------------- -->

          {% if user_addresses %}
          <div class="check_title" style="padding-bottom: 20px;">
            <h2>Your Address</h2>
          </div>
          {% endif %}

          {% for a in user_addresses %}
          {% if not a.id == default.default.id %}
          <!-- <h3 style="padding-top:15px">{{forloop.counter}} and {{default.default.id}}</h3> -->
          <div class="card  mb-3">
            <div class="card-body">
              <div class="text-center">
                {% if a.default %}
                Default
                <hr>
                {% endif %}
              </div>
              <h5 class="card-title">{{a.house_name}}, {{a.pincode}}</h5>
              <p class="card-text">{{a.city}}, </p>
              <div>
             
                <a class="btn btn-light m-1" href="{% url 'edit_address' a.id 2 %}">
                  Edit
                </a>

                <a class="btn cap m-1" data-toggle="modal" data-target="#deletaddress{{forloop.counter}}"
                  href="">
                  Delete
                </a>

                {% if a.default %}
                   
                    {% else %}
                    <a class="btn btn-light" href="{% url 'default_address' a.id 2 %}">
                        Default
                    </a>
                       {% endif %}


                <!--Edit Modal -->
                <div class="modal fade " id="deletaddress{{forloop.counter}}" tabindex="-1"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="btn" data-dismiss="modal" aria-label="Close"> <i
                            class="fa fa-cancel"></i></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure to delete Address <span class="text-primary">" {{a.house_name}}
                            ..."</span></p>
                        <form action="{% url 'delete_address' a.id 2 %}" enctype="multipart/form-data" method="POST">
                          {% csrf_token %}
                          <div class="d-flex justify-content-center">
                            <button type="submit"
                            class="btn btn-md purple-bg gradient-custom-2 w-30 text-light">Confirm</button>
                            <style>
                              .purple-bg {
                                  background-color: #9c7899;
          
                              }
                          </style>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}

          <div class="m-2">
            <a class="btn cap" href="{% url 'add_address' 2%}">Add new address</a></button>
          </div>

        </div>


        <!-- ------------------------------------------------------- side bar for order ----------------------------------------------------------- -->

        <div class="col-lg-6">
          <div class="order_box">
            <h2 class="text-center">Your Order</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {% for cart_item in cart_items %}
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img src="{{ cart_item.products.image.url }}" alt="" width="100px" />
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="media-body">
                      <p>{{ cart_item.products.product_name }}</p>
                    </div>
                  </td>
                  <td>
                    <h5>{{ cart_item.products.price }}</h5>
                  </td>

                  <td>
                    <h5>{{ cart_item.quantity }}</h5>
                  </td>
                  <td>
                    <h5>{{ cart_item.sub_total }}</h5>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>

            <hr>
            {% if cart.coupon %}
            <a  class="btn btn-success text-light">{{cart.coupon.discount_price}} off is applied on product</a>
            <br>
            <hr>
            {% endif %}


            <ul class="list list_2">
              <li>
                <a href="#">Subtotal
                  <span>₹ {{ cart.get_cart_total }}</span>
                </a>
              </li>           
            <li>
                <a href="#">Tax
                  <span>₹ {{ cart.get_tax }}</span>
                </a>
              </li>
              {% if cart.coupon %}             
              <li>
                <a href="#">Coupan Amount
                  <span>-₹ {{cart.coupon.discount_price}}</span>
                </a>
              </li>
            {% endif %}
              <li>
                <a href="#">Grand Total
                  <span>₹ {{ cart.get_grand_total }}</span>
                </a>
              </li>
            </ul>


            <div class="payment_item">
              <hr>
              <h2 class="text-center">Payment</h2>
              <!-- <p class="text-center">Cash On Delivery</p> -->
              
              <br>
              
              <!-- id='rzp-button' is the thing because it is getting connected with the script below -->
              <a class="btn_3" id="rzp-button1" href="">Proceed to RazorPAy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--================End Checkout Area =================-->


<!-- Razorpay scripts-->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "rzp_test_a0WKFGxNpEjkyL", // Enter the Key ID generated from the Dashboard
    "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Signora",
    "description": "Order Payment",
    "image": "https://example.com/your_logo",
    "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){

      window.location.href = `${window.location.origin}/cart/success/?razorpay_payment_id=${response.razorpay_payment_id}&order_id=${response.razorpay_order_id}&razorpay_signature=${response.razorpay_signature}`


        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>




{% endblock body %}