{% extends 'adminpanel/adminbase.html' %}
{% block title %}Category{% endblock title %}
{% block body %}
<style>
    .cap p:first-letter {
        text-transform: capitalize;
      }      
</style>

  <main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_index' %}">Home</a></li>
            <li class="breadcrumb-item active">Category</li>
          </ol>
        </nav>
      </div>
    <p class="text-center">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Category management</h5>

              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Slug</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>    
                  {% for c in cate %}           
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{c.cat_name}}</td>
                    <td>{{c.description}}</td>
                    {% if c.cat_image %}
                    <td class="px-4 py-3">                               
                        <img src="{{ c.cat_image.url }}" alt="{{c.cat_name}}" style="width:100px; height:50px;" >                                    
                    </td>
                    {% endif %} 
                    <td>{{c.slug}}</td>

                    <td>
                        <button type="button" class="btn text-danger" data-bs-toggle="modal"
                        data-bs-target="#delete_model-{{forloop.counter}}">
                        <i class="ri-delete-bin-4-line"></i>
                    </button>
                    <button type="button" class="btn text-warning" data-bs-toggle="modal"
                        data-bs-target="#edit_model-{{forloop.counter}}">
                        <i class="ri-pencil-line"></i>
                    </button>
                    </td>                    


                    <!-- Modal -->
                    <div class="modal fade" id="delete_model-{{forloop.counter}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">
                                        Delete Category</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    are you sure to delete category <span class="text-danger">"{{c.cat_name}}"</span>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <form action="{% url 'delete_category' c.id %}" style="float: right;"
                                        method="post" class="float-right d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <!-- Modal -->
                    <div class="modal fade" id="edit_model-{{forloop.counter}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">
                                        Edit Category</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'update_category' c.id %}" enctype="multipart/form-data"
                                        method="POST" class="row g-2">
                                        {% csrf_token %}
                                        <div class="form-outline mb-3 ">
                                            <input name="category" value="{{c.cat_name}}" type="text"
                                                id="form3Example1cg" class="form-control form-control-lg" />
                                            <label class="form-label cap" for="form3Example1cg">Category</label>
                                        </div>

                                        <div class="form-outline mb-3">
                                            <input name="slug" value="{{c.slug}}" type="text"
                                                id="form3Example1cg" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example1cg">Slug</label>
                                        </div>
                                       
                                        <div class="form-outline mb-3">
                                            <input name="image" type="file" value="{{c.cat_image}}"
                                                id="form3Example3cg" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example3cg">Image</label>
                                        </div>


                                        <div class="form-outline mb-3">                                            
                                            <input name="description" value="{{c.description }}"
                                                type="text" id="form3Example3cg"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example3cg">Description</label>
                                        </div>
                                       
                                        <button type="submit" class="btn btn-success">Update</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
             
                  </tr>
                  {% endfor %}  
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->

            </div>
          </div>    </p>
  </main><!-- End #main -->

  <button type="button" class="btn btn-outline-primary m-3 sticky-bottom" style="float:right" data-bs-toggle="modal"
    data-bs-target="#addcategory_model-{{forloop.counter}}">
    Add Category
</button>

<!-- Modal -->
<div class="modal fade" id="addcategory_model-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">Add Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'add_category' %}" method="POST" enctype="multipart/form-data" class="row g-2">
                    {% csrf_token %}
                    
                    <div class="form-outline mb-3">
                        <input required name="category" type="text" id="form3Example1cg"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Category</label>
                    </div>
                    <div class="form-outline mb-3">
                        <input required name="image" type="file" id="form3Example1cg"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Image</label>
                    </div>
                    <div class="form-outline mb-3">
                        <input name="slug" type="text" id="form3Example1cg"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Slug</label>
                    </div>
                    
                    <div class="form-outline mb-3">
                        <input name="description" type="text" id="form3Example1cg"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">description</label>
                    </div>                   
                                                                

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-dark btn-lg ">Register</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

  {% endblock body %}


