{% extends 'userpanel/userbase.html' %}
{% block title %}Profile{% endblock title %}
{% block body %}

<style>
    .cap {
        background-color: #795376;
        color: white;
    }
    .capp {
        background-color: #795376;
        color: white;
        float: right;
    }

    a {
        color: black;

    }

    .breadcrumb_part {
        height: 100px;
    }

    .breadcrumb_iner h3 {
        font-size: 35px;
        line-height: 1.2;
        color: #fff;
        font-weight: 500;        
    }
</style>

<!-- breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h3>Profile</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->


<section style="background-color: #eee;">
    <div class="container py-4">  
  {% include 'message.html' %}

        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
        

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ user.username }}</h5>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn cap" data-toggle="modal" data-target="#deletModal">
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.first_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.last_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.phone_number }}</p>
                            </div>
                        </div>
                        <hr>
                        <!-- <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                            </div>
                        </div> -->
                        <a class="btn capp" href="{% url 'orders_list' %}"> Orders </a>

                    </div>
                </div>
            </div>
        </div>

        {% if user_addresses %}
        <nav aria-label="breadcrumb mb-0" class="bg-light rounded-3 p-3 mb-4">

            <h3 class="text-center">Your Address</h3>
        </nav>
        {% endif %}

        {% for a in user_addresses %}
        {% if not a.id == default.default.id %}
        <!-- <h3>{{forloop.counter}} address {{default.default.id}}</h3> -->
        <div class="card mb-3">
            <div class="card-body">
                {% if a.default %}
                Default
                <hr>
                {% endif %}
                <h5 class="card-title">{{a.house_name}}, {{a.pincode}}</h5>
                <p class="card-text">{{a.city}}, </p>
                <div>


                    <a class="btn btn-light" href="{% url 'edit_address' a.id 1 %}">
                        Edit
                    </a>

                    <a class="btn cap" data-toggle="modal" data-target="#deletaddress{{forloop.counter}}"
                        href="">
                        Delete
                    </a>
                    {% if a.default %}
                   
                    {% else %}
                    <a class="btn btn-light" href="{% url 'default_address' a.id 1 %}">
                        Default
                    </a>
                       {% endif %}


                    <!-- Modal -->
                    <div class="modal fade " id="deletaddress{{forloop.counter}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="" id="exampleModalLabel">Delete</h5>
                          <button type="button" class="btn" data-dismiss="modal" aria-label="Close"> <i
                              class="fa fa-cancel"></i></button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure to delete Address <span class="text-primary">" {{a.house_name}}
                              "</span></p>
                          <form action="{% url 'delete_address' a.id 1 %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class="d-flex justify-content-center pt-3">
                              <button type="submit"
                                class="btn btn-md purple-bg gradient-custom-2 w-30 text-light">Confirm</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <style>
                    .purple-bg {
                        background-color: #9c7899;

                    }
                </style>

                </div>
            </div>
        </div>

        {% endif %}

        {% endfor %}

        <a class="btn cap" href="{% url 'add_address' 1 %}">Add new address</a></button>
        </a>
       
        <br>
        <br>
    </div>
</section>





<!-- Modal to edit the details of user-->
<div class="modal fade" id="deletModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'update_profile' user.id %}" enctype="multipart/form-data" method="POST"
                    class="row g-2">
                    {% csrf_token %}
                    <div class="form-outline mb-3">
                        <input name="fname" value="{{user.first_name}}" type="text" id="form3Example1cg"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">First name</label>
                    </div>
                    <div class="form-outline mb-3">
                        <input name="lname" value="{{user.last_name}}" type="text" id="form3Example1cg"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Last name</label>
                    </div>

                    <div class="form-outline mb-3">
                        <input name="number" value="{{ user.phone_number }}" type="tel" id="form3Example3cg"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example3cg">Phone number</label>
                    </div>
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- multiple address -->







{% endblock body %}