{% extends 'adminpanel/adminbase.html' %}
{% block title %}Banner {% endblock title %}
{% block body %}


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Signora</h1>
    <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'admin_index' %}">Home</a></li>
          <li class="breadcrumb-item active">Banner managment</li>
      </ol>
  </nav>
  </div> <!-- End Page Title -->



  <div class="col-12">
    <div class="card recent-sales overflow-auto">
      <div class="card-body">
        <h5 class="card-title">Banner list</h5>
            {% include 'message.html' %}


        <table class="table table-borderless datatable">
          <thead>
             <tr>
                <th scope="col">id</th>
                <th scope="col">Banner name</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">discount</th>
                <th scope="col">Action</th>
            
            </tr>
          </thead>
          <tbody>

            {% for b in banners %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{b.banner_name}}</td>
                        <td class="px-4 py-3">                                             
                            {% for c in carousal %}
                                {% if c.image %}

                                    <img src="{{ c.image.url }}" alt="{{c.carousal_name}}" style="width:100px; height:50px" >

                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{b.note}}</td>
                        <td><span class="badge bg-secondary">{{b.discount}}%</span></td>                        
                        <td>                       
                        <button type="button" class="btn text-warning" data-bs-toggle="modal"
                            data-bs-target="#edit_model-{{forloop.counter}}">
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #e07a06;"></i>
                        </button>
                        </td>                     

                        <!-- Modal -->
                        <div class="modal fade" id="edit_model-{{forloop.counter}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">
                                            Edit banner</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'banner_edit' b.id %}" enctype="multipart/form-data"
                                            method="POST" class="row g-2">
                                            {% csrf_token %}
                                            <div class="form-outline mb-3">
                                                <input name="name" value="{{b.banner_name}}" type="text"
                                                    id="form3Example1cg" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example1cg">Banner name</label>
                                            </div>                                      
<!--     
                                            <div class="form-outline mb-3">
                                                <label class="form-label" for="imagePreview">Image Preview</label>
                                                <br>
                                                <img src="{{ b.banner_image.url }}" alt="{{b.banner_name}}" style="width:100px; height:50px;" >                                    
    
                                            </div> -->
                                            <!-- <div class="form-outline mb-3">
                                                <input name="image" value="{{ b.banner_image }}" type="file"
                                                    id="form3Example3cg" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example3cg">Image</label>
                                            </div> -->
                                            {% for bb in carousal %}
                                            <div class="form-outline mb-3">
                                                <label class="form-label" for="imagePreview">Image Preview</label>
                                                <br>
                                                <div class="row">
                                                    <div class="col">
                                                    <img src="{{ bb.image.url }}" alt="no image" style="width:100px; height:50px;" >                                   
                                                    </div>
                                                    <div class="col float-left">
                                                        <a href="{% url 'delet_image' bb.id %}"><i class="fa-regular fa-trash-can" style="color: #070707;"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}

                                            <div class="form-outline mb-3">
                                                <input name="image" type="file" id="form3Example1cg"
                                                    class="form-control form-control-lg" multiple/>
                                                <label class="form-label" for="form3Example1cg">Thumbnail Image</label>
                                            </div>


                                            <div class="form-outline mb-3">
                                                <input name="description" value="{{ b.note }}"
                                                    type="text" id="form3Example3cg"
                                                    class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example3cg">Description</label>
                                            </div>
                                           

                                            <div class="form-outline mb-3">
                                                <input required name="discount" value="{{ b.discount }}" type="number"
                                                    id="form3Example3cg" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example3cg">discount</label>
                                            </div>
                                            <button type="submit" class="btn btn-success">Update</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </tr>
                    {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

</main>

          

{% endblock body %}