{% extends 'adminpanel/adminbase.html' %}
{% block title %}Order {% endblock title %}
{% block body %}


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Signora</h1>
    <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'admin_index' %}">Home</a></li>
          <li class="breadcrumb-item active"> Order list</li>
      </ol>
  </nav>
  </div> <!-- End Page Title -->



  <div class="col-12">
    <div class="card recent-sales overflow-auto">


      <div class="card-body">
        <h5 class="card-title">Orders list</h5>


        <table class="table table-borderless datatable">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col" class="text-center">Customer</th>
              <th scope="col">Delivery address</th>
              <th scope="col">Ordered date</th>
              <!-- <th scope="col">Payment</th> -->
              <th scope="col">Sub total</th>
              <th scope="col">Tax</th>
              <th scope="col">Grand Total</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <tbody>

            {% for o in orders %}
            <tr>
              <td><a href="#">
                {{o.order_id}}</a>
              </td>
              <td class="text-center">{{o.user.username}}</td>
              {% if o.delivery_address %}
              <td>{{o.delivery_address.house_name}},
                    {{o.delivery_address.state}}, {{o.delivery_address.city}}, {{o.delivery_address.state}},<br>
                    PIN: {{o.delivery_address.pincode}}
              </td>
              {% else %}
              <td>no address</td>
              {% endif %}
              <!-- <td>{{o.ordered_date.date}}</td> -->
              <td>{{ o.ordered_date.date|date:"m/d/Y" }}</td>

              <!-- <td>{{o.payment.payment_method}}</td> -->
              <td>₹{{o.payment.cart_total}}</td>
              <td><span class="badge bg-success">₹{{o.payment.tax}}</span></td>
              <td class="text-center"><span class="badge bg-secondary">₹{{o.payment.grand_total}}</span></td>
              <td>              
                <a href="{% url 'view_order' o.id %}"> <i class="fa-solid fa-eye"></i></a>            
              </td>  
                

            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

</main>

          

{% endblock body %}