{% extends 'adminpanel/adminbase.html' %}
{% block title %}Order {% endblock title %}
{% block body %}
<style>
  .cap p:first-letter {
    text-transform: capitalize;
  }
</style>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_index' %}">Home</a></li>
        <li class="breadcrumb-item active">Order management</li>
      </ol>
    </nav>
  </div>
  <p class="text-center">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Order management</h5>

      <!-- Table with hoverable rows -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">User</th>
            <th scope="col">Address</th>
            <th scope="col">Total price</th>
            <th scope="col">Payment mode</th>
            <th scope="col">Payment id</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for o in order %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{o.user.username}}</td>
            <td>{{o.address}}</td>
            <td>{{o.total_price}}</td>
            <td>{{o.payment_mode}}</td>
            <td>{{o.payment_id}}</td>
            <td>{{o.status}}</td>
            <td>
              <button type="button" class="btn text-warning" data-bs-toggle="modal"
                data-bs-target="#edit_model-{{forloop.counter}}">
                <i class="ri-pencil-line"></i>
              </button>
            </td>
            <div class="modal fade" id="edit_model-{{forloop.counter}}" tabindex="-1"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">
                      Edit Status</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'order_management' o.id %}" enctype="multipart/form-data" method="POST"
                      class="row g-2">
                      {% csrf_token %}
                      <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example3cg">Status</label>
                        <select name="order_status" id="category">
                          {% for s in statuses %}
                          <option value="{{ s.0 }}">
                            {{ s.1 }}
                          </option>
                          {% endfor %}
                        </select>
                      </div>
                      <button type="submit" class="btn btn-success">Update</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- End Table with hoverable rows -->

    </div>
  </div>
  </p>
</main><!-- End #main -->


{% endblock body %}