{% extends 'adminpanel/adminbase.html' %}
{% block title %}Order {% endblock title %}
{% block body %}
<style>
  .cap p:first-letter {
    text-transform: capitalize;
  }
</style>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_index' %}">Home</a></li>
        <li class="breadcrumb-item active">Order management</li>
      </ol>
    </nav>
  </div>
  <p class="text-center">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Order management</h5>

      <!-- Table with hoverable rows -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Customer</th>
            <th scope="col">order_id</th>
            <th scope="col">Address</th>
            <th scope="col">Payment mode</th>
            <th scope="col">Order date</th>
            <th scope="col">Tax</th>
            <th scope="col">Grand total</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for o in orders %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{o.order_id}}</td>
            <td>{{o.user.username}}</td>
            <td>{{o.delivery_address.house_name}}</td>
            <td>{{o.payment.payment_method}}</td>
            <td>{{o.ordered_date.date}}</td>
            <td>{{o.payment.tax}}</td>
            <td>{{o.payment.grand_total}}</td>
            <td>              
              <a href="{% url 'view_order' o.id %}"> <i class="fa-solid fa-eye"></i></a>            
            </td>

          
            
            {% endfor %}




          </tr>
        </tbody>
      </table>
      <!-- End Table with hoverable rows -->

    </div>
  </div>
  </p>
</main><!-- End #main -->


{% endblock body %}