{% extends 'adminpanel/adminbase.html' %}
{% block title %}User {% endblock title %}
{% block body %}


<main id="main" class="main">

  <div class="pagetitle">
    <h1>User management</h1>
    <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'admin_index' %}">Home</a></li>
          <li class="breadcrumb-item active"> User list</li>
      </ol>
  </nav>
  </div> <!-- End Page Title -->



  <div class="col-12">
    <div class="card recent-sales overflow-auto">


      <div class="card-body">
        <h5 class="card-title">User list</h5>
      {% include 'message.html' %}
        <table class="table table-borderless datatable">
          <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">User</th>
                <th scope="col">Email</th>
                <th scope="col">Joined Date</th>
                <th scope="col">Status</th>
                <th scope="col">Block/Unblock</th>
            </tr>
          </thead>
          <tbody>    
            {% for u in users %}           
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{u.username}}</td>
              <td>{{u.email}}</td>
              <td>{{u.date_joined}}</td>
              {% if u.is_active %}
              <td><span class="badge" style="color: black;">Verified</span></td>
              {% else %}
              <td><span class="badge bg-secondary">Not Verified</span></td>
              {% endif %}

              
                      {% if u.is_active %}
                      <td><button type="button" class="btn btn-outline-danger px-4" data-bs-toggle="modal"
                              data-bs-target="#delete{{ forloop.counter }}">
                              Block
                          </button></td>
                      <div class="modal fade" id="delete{{ forloop.counter }}" tabindex="-1"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      Want to block {{u.username}} ?
                                  </div>

                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                          data-bs-dismiss="modal">Close</button>
                                      <a href="{% url 'block_unblock' u.id %}"> <button type="button"
                                              class="btn btn-primary">Confirm</button></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% else %}

                      <td>
                          <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                              data-bs-target="#delete{{ forloop.counter }}">
                              Unblock
                          </button>
                      </td>
                      <div class="modal fade" id="delete{{ forloop.counter }}" tabindex="-1"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      Want to unblock {{u.username}} ?
                                  </div>

                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                          data-bs-dismiss="modal">Close</button>
                                      <a href="{% url 'block_unblock' u.id %}"> <button type="button"
                                              class="btn btn-primary">Confirm</button></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endif %}
                            
            </tr>
            {% endfor %}  
          </tbody>
        </table>

      </div>
    </div>
  </div>

</main>

          

{% endblock body %}