{% extends 'adminpanel/adminbase.html' %}
{% block title %}Variants {% endblock title %}
{% block body %}


<main id="main" class="main">

  <div class="pagetitle">
    <h1>Signora</h1>
    <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'admin_index' %}">Home</a></li>
          <li class="breadcrumb-item active"> Varaint list</li>
      </ol>
  </nav>
  </div> <!-- End Page Title -->



  <div class="col-12">
    <div class="card recent-sales overflow-auto">


      <div class="card-body">
        <h5 class="card-title">Variant list</h5>
            {% include 'admin_message.html' %}
        <table class="table table-borderless datatable">
          <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Product</th>
                <th scope="col">Size</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>

          {% for v in variations %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{v.product.product_name}}</td>
                        <td>{{v.size_variant}}</td>
                        <td>{{v.stock}}</td>                  

                        <td> 
                            <button type="button" class="btn text-warning" data-bs-toggle="modal"
                            data-bs-target="#edit_model-{{forloop.counter}}">
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #e07a06;"></i>

                        </button>
                            <button type="button" class="btn text-danger" data-bs-toggle="modal"
                                data-bs-target="#delete_model-{{forloop.counter}}">
                                <i class="fa-solid fa-trash-can fa-lg" style="color: #f10404;"></i>
                            </button>                           
                        </td>


                        <!-- Modal -->
                        <div class="modal fade" id="delete_model-{{forloop.counter}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">
                                            Delete product variant</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        are you sure to delete this vaiation product <span
                                            class="text-danger">"{{v.product.product_name}}"</span>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <form action="{% url 'variant_delete' v.id %}" style="float: right;"
                                            method="post" class="float-right d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Modal -->
                        <div class="modal fade" id="edit_model-{{forloop.counter}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">
                                            Edit product variant</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'variant_edit' v.id %}" method="POST" class="row g-2">
                                            {% csrf_token %}
                                            <div class="form-outline mb-3 ">
                                                <select class="form-select" name="product" required>
                                                    <option value="{{v.product}}" selected>{{v.product}}</option>
                                                    {% for p in products %}
                                                    <option value="{{p}}">{{p}}</option>
                                                    {% endfor %}
                                                  </select>
                                            </div>

                                            <div class="form-outline mb-3">
                                                <select class="form-select" name="size" required>
                                                    <option value="{{v.size_variant}}" selected>{{v.size_variant}}</option>
                                                    {% for s in size %}
                                                    <option value="{{s}}">{{s}}</option>
                                                    {% endfor %}
                                                  </select>
                                            </div>


                                            <div class="form-outline mb-3">
                                                <input name="stock" value="{{v.stock }}" type="number"
                                                    id="form3Example3cg" class="form-control form-control-lg" />
                                                <label class="form-label" for="form3Example3cg">Stock</label>
                                            </div>

                                            <button type="submit" class="btn btn-success">Update</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </tr>
                    {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

</main>

       
<button type="button" class="btn btn-outline-primary m-3 sticky-bottom" style="float:right" data-bs-toggle="modal"
    data-bs-target="#addcategory_model-{{forloop.counter}}">
    Add Variant
</button>

<!-- Modal -->
<div class="modal fade" id="addcategory_model-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-dark fs-5" id="exampleModalLabel">Add Product variant</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'add_variant' %}" method="POST" class="row g-2">
                    {% csrf_token %}

                    <div class="form-outline mb-3">
                        <select class="form-select" name="product" required>
                            <option value="{{v.product}}" selected>{{v.product}}</option>
                            {% for p in products %}
                            <option value="{{p}}">{{p}}</option>
                            {% endfor %}
                          </select>
                    </div>                

                    <div class="form-outline mb-3">
                        <select class="form-select" name="size" required>
                            <option value="{{v.size_variant}}" selected>{{v.size_variant}}</option>
                            {% for s in size %}
                            <option value="{{s}}">{{s}}</option>
                            {% endfor %}
                          </select>
                    </div>

                    <div class="form-outline mb-3">
                        <input name="stock" type="number" id="form3Example1cg"
                            class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Stock</label>
                    </div>


                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-dark btn-lg ">Add</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>   

{% endblock body %}